package layouts

import "github.com/skrewby/blog/components"

templ Article(body string) {
	@components.Head("Article")
	<body>
		@generalStyles()
		<main>
			<div class="container">
				@templ.Raw(body)
			</div>
		</main>
	</body>
}
